USE [master]
GO
/****** Object:  Database [TripClubDB]    Script Date: 11/10/2020 16:38:18 ******/
CREATE DATABASE [TripClubDB]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TripClubDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TripClubDB]
GO
USE [TripClubDB]
GO
/****** Object:  User [TripClubDB]    Script Date: 11/10/2020 16:38:19 ******/
CREATE USER [TripClubDB] FOR LOGIN [TripClubDB] WITH DEFAULT_SCHEMA=[TripClubDB]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [TripClubDB]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [TripClubDB]
GO
ALTER ROLE [db_datareader] ADD MEMBER [TripClubDB]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [TripClubDB]
GO
/****** Object:  Schema [TripClubDB]    Script Date: 11/10/2020 16:38:19 ******/
CREATE SCHEMA [TripClubDB]
GO
/****** Object:  View [dbo].[MANAGERS]    Script Date: 11/10/2020 16:38:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW  [dbo].[MANAGERS]
AS
SELECT dbo.FamilyUsers.UserCode AS UserCode, 
dbo.FamilyUsers.FirstName AS FirstName,
dbo.FamilyUsers.LastName AS LastName,
dbo.FamilyUsers.CanEditList AS CanEditList,
dbo.FamilyUsers.FamilyCode AS FamilyCode
FROM dbo.Families INNER JOIN dbo.FamilyUsers 
ON dbo.Families.ManagerName = dbo.FamilyUsers.FirstName
AND dbo.Families.FamilyCode = dbo.FamilyUsers.FamilyCode
GO
/****** Object:  View [dbo].[TraksAndUsersData]    Script Date: 11/10/2020 16:38:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[TraksAndUsersData]
as
SELECT dbo.TRACKS.TRACK_CODE, dbo.TRACKS.USER_ID,
		dbo.USERS.USER_NAME, dbo.TRACKS.DESCRIPTION,
		dbo.TRACKS.ACTIVE, dbo.TRACKS.TRACK_LOACTIONS,
		dbo.USERS.FIRST_NAME, dbo.USERS.LAST_NAME, 
        dbo.USERS.USER_IMAGE, dbo.USERS.GENDER
FROM    dbo.TRACKS INNER JOIN dbo.USERS
		ON dbo.TRACKS.USER_ID = dbo.USERS.USER_ID
GO
/****** Object:  Table [dbo].[COUNTRIES]    Script Date: 11/10/2020 16:38:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COUNTRIES](
	[COUNTRY_ID] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPTION] [nvarchar](30) NULL,
 CONSTRAINT [PK_COUNTRIES] PRIMARY KEY CLUSTERED 
(
	[COUNTRY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DESTINATIONS]    Script Date: 11/10/2020 16:38:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DESTINATIONS](
	[DESTINATION_CODE] [int] IDENTITY(1,1) NOT NULL,
	[COUNTRY_ID] [int] NULL,
	[DESCRIPTION] [nvarchar](30) NULL,
 CONSTRAINT [PK_DESTINATIONS] PRIMARY KEY CLUSTERED 
(
	[DESTINATION_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[POSTS]    Script Date: 11/10/2020 16:38:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POSTS](
	[POST_ID] [int] IDENTITY(1,1) NOT NULL,
	[USER_ID] [int] NULL,
	[DESCRIPTION] [nvarchar](1000) NULL,
	[POST_IMAGE] [nvarchar](max) NULL,
	[TRACK_CODE] [int] NULL,
	[UPLOAD_DATE] [nvarchar](50) NULL,
 CONSTRAINT [PK_POSTS] PRIMARY KEY CLUSTERED 
(
	[POST_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RECOMMENDATIONS]    Script Date: 11/10/2020 16:38:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RECOMMENDATIONS](
	[RECO_ID] [int] IDENTITY(1,1) NOT NULL,
	[USER_ID] [int] NULL,
	[DESTINATION_CODE] [int] NULL,
	[DESCRIPTION] [nvarchar](250) NULL,
	[POST_IMAGE] [nvarchar](250) NULL,
	[UPLOAD_DATE] [nvarchar](50) NULL,
 CONSTRAINT [PK_RECOMMENDATIONS] PRIMARY KEY CLUSTERED 
(
	[RECO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRACKS]    Script Date: 11/10/2020 16:38:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRACKS](
	[TRACK_CODE] [int] IDENTITY(1,1) NOT NULL,
	[USER_ID] [int] NULL,
	[DESCRIPTION] [nvarchar](250) NULL,
	[ACTIVE] [bit] NULL,
	[TRACK_LOACTIONS] [nvarchar](max) NULL,
 CONSTRAINT [PK_TRACKS] PRIMARY KEY CLUSTERED 
(
	[TRACK_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERS]    Script Date: 11/10/2020 16:38:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS](
	[USER_ID] [int] IDENTITY(1,1) NOT NULL,
	[USER_NAME] [nvarchar](50) NULL,
	[PASSWORD] [nvarchar](50) NULL,
	[EMAIL] [nvarchar](50) NULL,
	[FIRST_NAME] [nvarchar](50) NULL,
	[LAST_NAME] [nvarchar](50) NULL,
	[USER_IMAGE] [nvarchar](max) NULL,
	[GENDER] [varchar](1) NULL,
	[USER_TYPE] [int] NULL,
	[DISCRIPTION] [nvarchar](max) NULL,
 CONSTRAINT [PK_USERS] PRIMARY KEY CLUSTERED 
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERS_TYPE]    Script Date: 11/10/2020 16:38:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS_TYPE](
	[USER_TYPE] [int] NOT NULL,
	[DISCRIPTION] [varchar](10) NULL,
 CONSTRAINT [PK_USERS_TYPE] PRIMARY KEY CLUSTERED 
(
	[USER_TYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [TripClubDB].[LAT_LANG]    Script Date: 11/10/2020 16:38:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TripClubDB].[LAT_LANG](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DESTINATION_CODE] [int] NULL,
	[LATITUDE] [float] NULL,
	[LONGITUDE] [float] NULL,
	[locationName] [nvarchar](50) NULL,
 CONSTRAINT [PK_LAT_LANG] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[COUNTRIES] ON 

INSERT [dbo].[COUNTRIES] ([COUNTRY_ID], [DESCRIPTION]) VALUES (1, N'תאילנד')
INSERT [dbo].[COUNTRIES] ([COUNTRY_ID], [DESCRIPTION]) VALUES (2, N'יפן')
INSERT [dbo].[COUNTRIES] ([COUNTRY_ID], [DESCRIPTION]) VALUES (3, N'ארצות הברית')
SET IDENTITY_INSERT [dbo].[COUNTRIES] OFF
SET IDENTITY_INSERT [dbo].[DESTINATIONS] ON 

INSERT [dbo].[DESTINATIONS] ([DESTINATION_CODE], [COUNTRY_ID], [DESCRIPTION]) VALUES (1, 1, N'קו פאנגן')
INSERT [dbo].[DESTINATIONS] ([DESTINATION_CODE], [COUNTRY_ID], [DESCRIPTION]) VALUES (2, 1, N'קו סאמוי')
INSERT [dbo].[DESTINATIONS] ([DESTINATION_CODE], [COUNTRY_ID], [DESCRIPTION]) VALUES (3, 1, N'פוקט')
SET IDENTITY_INSERT [dbo].[DESTINATIONS] OFF
SET IDENTITY_INSERT [dbo].[POSTS] ON 

INSERT [dbo].[POSTS] ([POST_ID], [USER_ID], [DESCRIPTION], [POST_IMAGE], [TRACK_CODE], [UPLOAD_DATE]) VALUES (6, 8, N'מחפש שותפ/ה לטיול במזרח - יפן ותאילנד', N'http://BASE_URL/PostsImages//post6.jpg', NULL, N'18-08-2020')
INSERT [dbo].[POSTS] ([POST_ID], [USER_ID], [DESCRIPTION], [POST_IMAGE], [TRACK_CODE], [UPLOAD_DATE]) VALUES (28, 15, N'מחפשת שותפה לטיול באירופה', N'http://BASE_URL/PostsImages//post28.jpg', NULL, N'29-09-2020')
INSERT [dbo].[POSTS] ([POST_ID], [USER_ID], [DESCRIPTION], [POST_IMAGE], [TRACK_CODE], [UPLOAD_DATE]) VALUES (29, 14, N'מחפש שותף לטיול במזרח', NULL, 1, N'29-09-2020')
INSERT [dbo].[POSTS] ([POST_ID], [USER_ID], [DESCRIPTION], [POST_IMAGE], [TRACK_CODE], [UPLOAD_DATE]) VALUES (46, 16, N'מחפש שותף לטיול בארצות הברית ובדרום אמריקה
', N'', 15, N'5-10-2020')
INSERT [dbo].[POSTS] ([POST_ID], [USER_ID], [DESCRIPTION], [POST_IMAGE], [TRACK_CODE], [UPLOAD_DATE]) VALUES (47, 1, N'מחפש שותפים לטיול באוסטרליה
כאלה שאוהבים נופים וחופים ', N'http://BASE_URL/PostsImages//post47.jpg', 0, N'6-10-2020')
SET IDENTITY_INSERT [dbo].[POSTS] OFF
SET IDENTITY_INSERT [dbo].[RECOMMENDATIONS] ON 

INSERT [dbo].[RECOMMENDATIONS] ([RECO_ID], [USER_ID], [DESTINATION_CODE], [DESCRIPTION], [POST_IMAGE], [UPLOAD_DATE]) VALUES (1, 15, 1, N'המלצה חמה על מאמא שניצל', N'', N'02-09-2020')
INSERT [dbo].[RECOMMENDATIONS] ([RECO_ID], [USER_ID], [DESTINATION_CODE], [DESCRIPTION], [POST_IMAGE], [UPLOAD_DATE]) VALUES (2, 2, 8, N'המבורגר מטורף', N'', N'10-09-2020')
INSERT [dbo].[RECOMMENDATIONS] ([RECO_ID], [USER_ID], [DESTINATION_CODE], [DESCRIPTION], [POST_IMAGE], [UPLOAD_DATE]) VALUES (23, 14, 1, N'ממליץ על מלון קוקי סאלאד בסאלאד ביץ
אחלה מלון ', N'http://BASE_URL/RecommendationImages//recommendation23.jpg', N'4-10-2020')
INSERT [dbo].[RECOMMENDATIONS] ([RECO_ID], [USER_ID], [DESTINATION_CODE], [DESCRIPTION], [POST_IMAGE], [UPLOAD_DATE]) VALUES (34, 8, 8, N'ממליץ על ביקור בטיימס סקוואר חוויה מטורפת', N'http://BASE_URL/RecommendationImages//recommendation34.jpg', N'6-10-2020')
SET IDENTITY_INSERT [dbo].[RECOMMENDATIONS] OFF
SET IDENTITY_INSERT [dbo].[TRACKS] ON 

INSERT [dbo].[TRACKS] ([TRACK_CODE], [USER_ID], [DESCRIPTION], [ACTIVE], [TRACK_LOACTIONS]) VALUES (1, 8, N'יעדים בתאילנד', 1, N' [{"latitude":9.739055,"longitude":100.013451,"locationName":"קו פאנגן תאילנד"},{"latitude":100.497336,"longitude":13.759086,"locationName":"בנגקוק תאילנד"},{"latitude":1.354742,"longitude":103.85394,"locationName":"סינגפור"},{"latitude":19.609859,"longitude":102.466618,"locationName":"לאוס"},{"latitude":14.538847,"longitude":108.252299,"locationName":"וייטנאם"}]')
SET IDENTITY_INSERT [dbo].[TRACKS] OFF
SET IDENTITY_INSERT [dbo].[USERS] ON 

INSERT [dbo].[USERS] ([USER_ID], [USER_NAME], [PASSWORD], [EMAIL], [FIRST_NAME], [LAST_NAME], [USER_IMAGE], [GENDER], [USER_TYPE], [DISCRIPTION]) VALUES (1, N'אור הקר', N'12345678', N'orTRIPCLUB@test.com', N'אור', N'הקר', N'http://BASE_URLProfileImages/profile1.jpg', N'm', 1, N'אני אור הקר מחפש שותפ/ה לטיול בדרום אמריקה אוהב לבלות חופים יפים וטראקים')
INSERT [dbo].[USERS] ([USER_ID], [USER_NAME], [PASSWORD], [EMAIL], [FIRST_NAME], [LAST_NAME], [USER_IMAGE], [GENDER], [USER_TYPE], [DISCRIPTION]) VALUES (2, N'עדן ברנובסקי', N'123456', N'edenTRIPCLUB@test.com', N'עדן', N'ברנובסקי', N'', N'f', 2, N'מתכננת טיול במזרח ,אוסטרליה וניו זילנד ')
SET IDENTITY_INSERT [dbo].[USERS] OFF
INSERT [dbo].[USERS_TYPE] ([USER_TYPE], [DISCRIPTION]) VALUES (1, N'admin')
INSERT [dbo].[USERS_TYPE] ([USER_TYPE], [DISCRIPTION]) VALUES (2, N'regular')
SET IDENTITY_INSERT [TripClubDB].[LAT_LANG] ON 

INSERT [TripClubDB].[LAT_LANG] ([ID], [DESTINATION_CODE], [LATITUDE], [LONGITUDE], [locationName]) VALUES (1, 1, 9.75778, 100.02914, N'תאילנד קו פאנגן')
INSERT [TripClubDB].[LAT_LANG] ([ID], [DESTINATION_CODE], [LATITUDE], [LONGITUDE], [locationName]) VALUES (2, 2, 9.53567, 99.93567, N'תאילנד קו סאמוי')
INSERT [TripClubDB].[LAT_LANG] ([ID], [DESTINATION_CODE], [LATITUDE], [LONGITUDE], [locationName]) VALUES (3, 3, 7.89059, 98.3981, N'תאילנד פוקט')
SET IDENTITY_INSERT [TripClubDB].[LAT_LANG] OFF
ALTER TABLE [dbo].[DESTINATIONS]  WITH CHECK ADD  CONSTRAINT [FK_DESTINATIONS_COUNTRIES] FOREIGN KEY([COUNTRY_ID])
REFERENCES [dbo].[COUNTRIES] ([COUNTRY_ID])
GO
ALTER TABLE [dbo].[DESTINATIONS] CHECK CONSTRAINT [FK_DESTINATIONS_COUNTRIES]
GO
ALTER TABLE [dbo].[POSTS]  WITH CHECK ADD  CONSTRAINT [FK_POSTS_USERS] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[USERS] ([USER_ID])
GO
ALTER TABLE [dbo].[POSTS] CHECK CONSTRAINT [FK_POSTS_USERS]
GO
ALTER TABLE [dbo].[RECOMMENDATIONS]  WITH CHECK ADD  CONSTRAINT [FK_RECOMMENDATIONS_DESTINATIONS] FOREIGN KEY([DESTINATION_CODE])
REFERENCES [dbo].[DESTINATIONS] ([DESTINATION_CODE])
GO
ALTER TABLE [dbo].[RECOMMENDATIONS] CHECK CONSTRAINT [FK_RECOMMENDATIONS_DESTINATIONS]
GO
ALTER TABLE [dbo].[RECOMMENDATIONS]  WITH CHECK ADD  CONSTRAINT [FK_RECOMMENDATIONS_USERS] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[USERS] ([USER_ID])
GO
ALTER TABLE [dbo].[RECOMMENDATIONS] CHECK CONSTRAINT [FK_RECOMMENDATIONS_USERS]
GO
ALTER TABLE [dbo].[TRACKS]  WITH CHECK ADD  CONSTRAINT [FK_TRACKS_USERS] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[USERS] ([USER_ID])
GO
ALTER TABLE [dbo].[TRACKS] CHECK CONSTRAINT [FK_TRACKS_USERS]
GO
ALTER TABLE [dbo].[USERS]  WITH CHECK ADD  CONSTRAINT [FK_USERS_USERS_TYPE] FOREIGN KEY([USER_TYPE])
REFERENCES [dbo].[USERS_TYPE] ([USER_TYPE])
GO
ALTER TABLE [dbo].[USERS] CHECK CONSTRAINT [FK_USERS_USERS_TYPE]
GO
ALTER TABLE [TripClubDB].[LAT_LANG]  WITH CHECK ADD  CONSTRAINT [FK_LAT_LANG_DESTINATIONS] FOREIGN KEY([DESTINATION_CODE])
REFERENCES [dbo].[DESTINATIONS] ([DESTINATION_CODE])
GO
ALTER TABLE [TripClubDB].[LAT_LANG] CHECK CONSTRAINT [FK_LAT_LANG_DESTINATIONS]
GO
/****** Object:  StoredProcedure [dbo].[ALL_POST_OF_PARTNERS]    Script Date: 11/10/2020 16:38:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ALL_POST_OF_PARTNERS] 
AS
SELECT dbo.POSTS.POST_ID, dbo.POSTS.USER_ID, dbo.USERS.USER_NAME,
		dbo.POSTS.DESCRIPTION, dbo.POSTS.POST_IMAGE, dbo.POSTS.TRACK_CODE,
		dbo.POSTS.UPLOAD_DATE, dbo.USERS.FIRST_NAME, dbo.USERS.LAST_NAME, 
        dbo.USERS.USER_IMAGE, dbo.USERS.EMAIL

FROM     dbo.POSTS INNER JOIN  dbo.USERS ON dbo.POSTS.USER_ID = dbo.USERS.USER_ID
ORDER BY POST_ID   DESC
GO
/****** Object:  StoredProcedure [dbo].[ALL_RECOMMENDATIONS]    Script Date: 11/10/2020 16:38:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE  [dbo].[ALL_RECOMMENDATIONS]
AS
SELECT DISTINCT dbo.RECOMMENDATIONS.RECO_ID, dbo.RECOMMENDATIONS.USER_ID,
				dbo.RECOMMENDATIONS.[DESTINATION_CODE],
				dbo.RECOMMENDATIONS.DESCRIPTION, dbo.RECOMMENDATIONS.POST_IMAGE,
				dbo.RECOMMENDATIONS.UPLOAD_DATE, dbo.USERS.USER_NAME, 
			    dbo.USERS.EMAIL, dbo.USERS.FIRST_NAME, dbo.USERS.LAST_NAME,
				dbo.USERS.USER_IMAGE, dbo.DESTINATIONS.DESCRIPTION AS [DESTINATION_NAME],
				  dbo.COUNTRIES.COUNTRY_ID, dbo.COUNTRIES.DESCRIPTION AS [COUNTRY_NAME]
FROM     dbo.COUNTRIES INNER JOIN
                  dbo.DESTINATIONS ON dbo.COUNTRIES.COUNTRY_ID = dbo.DESTINATIONS.COUNTRY_ID INNER JOIN
                  dbo.RECOMMENDATIONS ON dbo.DESTINATIONS.DESTINATION_CODE = dbo.RECOMMENDATIONS.DESTINATION_CODE INNER JOIN
                  dbo.USERS ON dbo.RECOMMENDATIONS.USER_ID = dbo.USERS.USER_ID
ORDER BY RECO_ID   DESC
GO
/****** Object:  StoredProcedure [dbo].[ALL_TRACKS]    Script Date: 11/10/2020 16:38:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ALL_TRACKS]
AS
SELECT dbo.TRACKS.TRACK_CODE, dbo.TRACKS.USER_ID,
	   dbo.TRACKS.DESCRIPTION, dbo.TRACKS.ACTIVE,
	   dbo.TRACKS.TRACK_LOACTIONS, dbo.USERS.USER_NAME,
	   dbo.USERS.EMAIL, dbo.USERS.FIRST_NAME,
	   dbo.USERS.LAST_NAME, dbo.USERS.USER_IMAGE
FROM     dbo.TRACKS INNER JOIN dbo.USERS ON dbo.TRACKS.USER_ID = dbo.USERS.USER_ID
ORDER BY TRACK_CODE   DESC
GO
/****** Object:  StoredProcedure [dbo].[ALL_TRACKS_BY_DESTINATION]    Script Date: 11/10/2020 16:38:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ALL_TRACKS_BY_DESTINATION] @DESTINATION_OUT int
AS
SELECT DISTINCT dbo.TRACKS.TRACK_CODE, dbo.TRACKS.USER_ID,
	   dbo.TRACKS.DESCRIPTION, dbo.TRACKS.ACTIVE,
	   dbo.TRACKS.TRACK_LOACTIONS, dbo.USERS.USER_NAME,
	   dbo.USERS.EMAIL, dbo.USERS.FIRST_NAME,
	   dbo.USERS.LAST_NAME, dbo.USERS.USER_IMAGE
FROM   dbo.TRACKS INNER JOIN dbo.USERS ON dbo.TRACKS.USER_ID = dbo.USERS.USER_ID
WHERE TRACK_LOACTIONS LIKE '%destinationCode__' + CAST(@DESTINATION_OUT AS varchar)  + '%' 
ORDER BY TRACK_CODE   DESC
GO
/****** Object:  StoredProcedure [dbo].[ALL_TRACKS_BY_USER]    Script Date: 11/10/2020 16:38:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ALL_TRACKS_BY_USER] @USER_ID_OUT int
AS
SELECT DISTINCT dbo.TRACKS.TRACK_CODE, dbo.TRACKS.USER_ID,
	   dbo.TRACKS.DESCRIPTION, dbo.TRACKS.ACTIVE,
	   dbo.TRACKS.TRACK_LOACTIONS, dbo.USERS.USER_NAME,
	   dbo.USERS.EMAIL, dbo.USERS.FIRST_NAME,
	   dbo.USERS.LAST_NAME, dbo.USERS.USER_IMAGE
FROM   dbo.TRACKS INNER JOIN dbo.USERS ON dbo.TRACKS.USER_ID = dbo.USERS.USER_ID
WHERE dbo.TRACKS.USER_ID = @USER_ID_OUT
GO
/****** Object:  StoredProcedure [dbo].[POST_OF_PARTNERS_BY_USER]    Script Date: 11/10/2020 16:38:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[POST_OF_PARTNERS_BY_USER] @USER_ID_OUT int
AS
SELECT DISTINCT dbo.POSTS.POST_ID, dbo.POSTS.USER_ID, dbo.POSTS.DESCRIPTION,
		dbo.POSTS.POST_IMAGE, dbo.POSTS.TRACK_CODE, dbo.POSTS.UPLOAD_DATE,
		dbo.USERS.USER_NAME, dbo.USERS.EMAIL, dbo.USERS.FIRST_NAME, 
        dbo.USERS.LAST_NAME, dbo.USERS.USER_IMAGE
FROM     dbo.USERS INNER JOIN dbo.POSTS ON dbo.USERS.USER_ID = dbo.POSTS.USER_ID
			CROSS JOIN dbo.DESTINATIONS
WHERE @USER_ID_OUT = dbo.POSTS.USER_ID
ORDER BY POST_ID   DESC
GO
/****** Object:  StoredProcedure [dbo].[RECOMMENDATIONS_BY_DESTINATION]    Script Date: 11/10/2020 16:38:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE  [dbo].[RECOMMENDATIONS_BY_DESTINATION] @DESTINATION_CODE_OUT int
AS
SELECT DISTINCT dbo.RECOMMENDATIONS.RECO_ID, dbo.RECOMMENDATIONS.USER_ID,
				dbo.RECOMMENDATIONS.[DESTINATION_CODE],
				dbo.RECOMMENDATIONS.DESCRIPTION, dbo.RECOMMENDATIONS.POST_IMAGE,
				dbo.RECOMMENDATIONS.UPLOAD_DATE, dbo.USERS.USER_NAME, 
			    dbo.USERS.EMAIL, dbo.USERS.FIRST_NAME, dbo.USERS.LAST_NAME,
				dbo.USERS.USER_IMAGE, dbo.DESTINATIONS.DESCRIPTION AS [DESTINATION_NAME],
				  dbo.COUNTRIES.COUNTRY_ID, dbo.COUNTRIES.DESCRIPTION AS [COUNTRY_NAME]
FROM     dbo.COUNTRIES INNER JOIN
                  dbo.DESTINATIONS ON dbo.COUNTRIES.COUNTRY_ID = dbo.DESTINATIONS.COUNTRY_ID INNER JOIN
                  dbo.RECOMMENDATIONS ON dbo.DESTINATIONS.DESTINATION_CODE = dbo.RECOMMENDATIONS.DESTINATION_CODE INNER JOIN
                  dbo.USERS ON dbo.RECOMMENDATIONS.USER_ID = dbo.USERS.USER_ID
WHERE @DESTINATION_CODE_OUT = dbo.COUNTRIES.COUNTRY_ID 
ORDER BY RECO_ID   DESC
GO
USE [master]
GO
